{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Mis Posts {% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for post in pagination %}
                    <div class="bg-white rounded p-3 my-3 cursor"  onclick="window.location.href='{{ path('ver-post',{id:post.id}) }}'">
                        <div class="d-flex bd-highlight">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <h3>{{post.titulo}}</h3>
                                <div class=" bg-green"><i class="far fa-clock"></i> <strong>Fecha de publicación: {{ post.fecha_publicacion | date }}</strong></div>
                            </div>
                            <div class="p-2 bd-highlight">
                                <div class="align-self-center">
                                    <img class="rounded" src="{{ asset('uploads/photos/'~post.foto) }}" width="150px">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded p-3 my-3">
                    <h4>Comentarios</h4>
                    {% for comentario in comentarios %}
                        <div class="bg-white my-2">
                            <a href="{{ path('ver-post',{id:comentario.id}) }}">{{ comentario.comentario }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {# display navigation #}
    <div class="d-flex justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}